/gym+/nbproject/private/
/nbproject/private/
/build/
/book/nbproject/private/
/book/build/
/Ticket/nbproject/private/
/Ticket/build/
/Library/nbproject/private/
/Library/build/
/LabTestB/nbproject/private/
/LabTestB/build/
